.checkout main .resumos {
	width: 45%;
	background-color: #ebebeb;
	padding: 10px 10px 10px 10px; 
	border-left: 1px solid #deddde;
}

.checkout main .resumos .produtos li {
	list-style: none;
	display: flex;
	border-bottom: 1px solid #dadada;
	padding-bottom: 15px;
	padding-top: 15px;
}

.checkout main .resumos .produtos li:last-child {
	border: none;
}

.checkout main .resumos .produtos .detalhes {
	width: 80%;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

.checkout main .resumos .produtos .detalhes h3 {
	color: #777879;
	font-size: 12px;
	font-family: 'muliextrabold';
	margin-bottom: 4px;
}

.checkout main .resumos .produtos .detalhes small {
	font-size: 10px;
	font-family: 'muliextralight_italic';
	color: #4a4a4a;
	margin-bottom: 4px;
}

.checkout main .resumos .produtos .detalhes span {
	color: #9c9c9c;
	font-size: 10px;
	font-family: 'muliextrabold';
}

.checkout main .resumos .produtos .preco {
	color: #777879;
	font-size: 12px;
	font-family: 'muliextrabold';
}

.checkout main .resumos table {
	width: 100%;
	border-top: 1px solid #d6d4d7;
	border-spacing: 0;
	color: #777879;
	font-size: 12px;
	margin-top: 82px
}

.checkout main .resumos table th {
	text-align: left;
}

.checkout main .resumos table td {
	text-align: right;
	padding-top: 7px;
	padding-bottom: 7px;
}

.checkout main .resumos table tfoot * {
	border-top: 1px solid #d6d4d7;
	font-family: 'muliextrabold';
	padding-top: 7px;
}